/* You can add global styles to this file, and also import other style files */
/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    padding: 2rem;
  }